---
layout: index
title: A weblog about agile software development, coaching and strange ideas...
paginate: true
description: Nils Wloka's weblog about agile software development, coaching and strange ideas...
---
{% for post in site.posts limit:3 %}
{% assign body = post.content %}
{% include partial-post.html %}
{% endfor %}
{% if site.posts.size > 3 %}
<h1>Older posts</h1>
<ul class="posts">
  {% for post in site.posts offset:3 %}
    <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
